<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= `value ${Math.floor(Math.random()*10000000).toString(32)}`%></h1>
    <% if(result.length) { %>
        <% result.forEach(({date , author, update, content}) => { %>
        <div>
            <h3><%= author %></h3>
            <span><%= `${date}   ${update}` %></span>
            <textarea> <%= content %></textarea>
        </div>
        <% }) %>
    <% } %>
</body>
</html>